<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%if (message.length>0) { %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
      <% } %>
        <h1>Sign In </h1>
        <form action="/user/signin" method="post">
          <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
          <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text" id="email" name="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
        <p>Don't have an account? <a href="/user/signup">Sign up instead!</a></p>
  </div>
</div>
